version: '3.8'

services:
  # 1. Banco de Dados (RabbitMQ)
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: todolist-rabbitmq
    ports:
      - "5672:5672"   # Porta padrão do protocolo AMQP
      - "15672:15672" # Painel administrativo web do Rabbit
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - todolist-net

  # 2. Backend (Spring Boot)
  backend-app:
    build: ./backend
    container_name: todolist-backend
    ports:
      - "8080:8080"
    env_file:
    - ./backend/.env
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=user
      - SPRING_RABBITMQ_PASSWORD=password
    depends_on:
      - rabbitmq
    networks:
      - todolist-net

  # 3. Frontend (Quasar)
  frontend-app:
    build: ./frontend
    container_name: todolist-frontend
    ports:
      - "3000:80" # Você acessará via localhost:3000
    depends_on:
      - backend-app
    networks:
      - todolist-net

networks:
  todolist-net:
    driver: bridge