version: '3.8'

services:
  # 1. Banco de Dados (RabbitMQ)
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: todolist-rabbitmq
    ports:
      - "5672:5672"   # Porta padrão do protocolo AMQP
      - "15672:15672" # Painel administrativo web do Rabbit
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    networks:
      - todolist-net

  # 2. Backend (Spring Boot)
  backend-app:
    build: ./backend
    container_name: todolist-backend
    ports:
      - "8080:8080"
    dns:               
      - 8.8.8.8
      - 1.1.1.1
    env_file:
    - ./backend/.env
    environment:
      # CONFIGURAÇÃO CORRETA PARA SUPABASE POOLER (IPv4)
      - SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require
      - SPRING_DATASOURCE_USERNAME=postgres.dwevnbocllabddlciiqx
      - SPRING_DATASOURCE_PASSWORD=e6OSycvZnxpdb1X6
      
      # RabbitMQ
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=user
      - SPRING_RABBITMQ_PASSWORD=password

      # Email
      - SPRING_MAIL_HOST=${MAIL_HOST}
      - SPRING_MAIL_PORT=${MAIL_PORT}
      - SPRING_MAIL_USERNAME=${MAIL_USERNAME}
      - SPRING_MAIL_PASSWORD=${MAIL_PASSWORD}
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
      - SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
    depends_on:
      - rabbitmq
    networks:
      - todolist-net

  # 3. Frontend (Quasar)
  frontend-app:
    build: ./frontend
    container_name: todolist-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend-app
    networks:
      - todolist-net

networks:
  todolist-net:
    driver: bridge