spring:
  application:
    name: todolist

  datasource:
    url: ${PG-DB-URL}
    username: ${PG-DB-USER}
    password: ${PG-DB-PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      data-source-properties:
        prepareThreshold: 0

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true